.blog-article {
    border-radius: 15px;
    overflow: hidden;
    margin-top: 3rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.blog-image {
    position: relative;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: transform 0.3s ease;
    filter: brightness(0.8);
}

.blog-image:hover {
    transform: scale(1.1);
}

.blog-header {
    overflow: hidden;
    position: relative;
}

.blog-date {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-family: var(--jm-title-font);
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.7);
    line-height: 3.5rem;
}

.blog-month {
    font-size: 3rem;
}

.blog-day {
    font-size: 6rem;
}

.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
}
.blog-article:nth-child(odd)>.blog-row {
    flex-direction: row-reverse;
}