:root {
    /* CSS Variables */
    /* fonts */
    --jm-title-font: 'Bebas Neue', sans-serif;
    --jm-subtitle-font: 'Fira Sans', sans-serif;
    --jm-heading-font: 'Bebas Neue', sans-serif;
    --jm-body-font: 'Roboto', sans-serif;

    /* colors */
    --jm-dark-color: #212121;
    --jm-light-color: #deeefb;
    --jm-background-color: rgba(250,250,250,0.8);  

    /* text-styles */
    --jm-title-color: var(--jm-dark-color);
    --jm-font-size: 1.2rem;
    --jm-font-weight: 400;
    --jm-line-height: 1.5rem;
}

/* Element Styles */
body{
    font-family: var(--jm-body-font);
    font-size: var(--jm-font-size);
    font-weight: var(--jm-font-weight);
    line-height: var(--jm-line-height);
    color: var(--jm-dark-color);
    background-color: var(--jm-background-color);
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--jm-heading-font);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1rem;
    color: var(--jm-title-color);
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* when flex-direction is a column, then justify-content & align-items flip */
    justify-content: center; 
}

a {
    color : var(--jm-theme-500);
}

a:hover {
    color: var(--jm-theme-400);
}

.btn-primary {
    --bs-btn-bg: var(--jm-theme-600);
    --bs-btn-border-color: var(--jm-theme-600);
    --bs-btn-hover-bg: var(--jm-theme-700);
    --bs-btn-hover-border-color: var(--jm-theme-700);
    --bs-btn-active-bg: var(--jm-theme-800);
    --bs-btn-active-border-color: var(--jm-theme-800);
}

/* #region Home Section */
#home {
    background-image: url(/img/space_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    color: var(--jm-light-color);
    position: relative;
}

#homeCover {
    position: absolute;
    -webkit-backdrop-filter: brightness(0.35) blur(5px);
    backdrop-filter: brightness(0.35) blur(5px);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainTitle {
    font-family: var(--jm-title-font);
    font-size: 5rem;
    line-height: 4rem;
}

.subTitle {
    font-family: var(--jm-subtitle-font);
    font-size: 1.28rem;
    line-height: 1.1rem;
    font-weight: 300;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.mainLogo {
    height: .5em;
    padding-left: .03em;
}
/* #endregion Home Section */

/* #region Section styles */
.section-page:nth-child(odd){
    background-color: var(--jm-theme-150);
}
.section-page:nth-child(even){
    background-color: var(--jm-theme-100);
}

/* #endregion Section Styles */

/* menuPill */
#menuPillContainer {
    position: fixed;
    z-index: 3;
    height: 100%;
}

#menuPill {
    z-index: 3;
    margin-left: 1rem;
}

#menuPill .nav-link {
    /* override bootstrap's colors */
    --bs-navbar-active-color: var(--cf-theme-400);
    --bs-navbar-hover-color: var(--cf-theme-200);
    --bs-nav-link-hover-color: var(--cf-theme-200);

    /* line up the label and the icon */
    display: flex;
    align-items: center;

    /* squish the icons together */
    padding: 0;

    /* make the nav-link only as big as the icons */
    max-width: 36px;
    transition: max-width 0.35s ease-in-out
}

#menuPill .icon-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: .5rem;
}

#menuPill .menu-label {
    /* don't show the menu labels without hovering */
    max-width: 0%;
    white-space: nowrap;
    overflow: hidden;
}

/* Desktop Version */
@media (min-width: 768px) {
    main > section:not(#home) {
        padding-left: 160px;
        padding-right: 160px;
    }


    /* round the edges of the pill */
    #menuPill>.nav-item:nth-child(1) .icon-container{
        border-radius: 50% 50% 0 0;
        transition: border-radius .1s ease-out .25s;
    }

    /* Don't round top-right corner when showing label */
    #menuPill>.nav-item:nth-child(1) .active .icon-container,
    #menuPill>.nav-item:nth-child(1)>.nav-link:hover .icon-container{
        border-radius: 50% 0 0 0;
        transition: border-radius 0s ease-out 0s;
    }

    #menuPill>.nav-item:nth-last-child(1) .icon-container {
        border-radius: 0 0 50% 50%;
        transition: border-radius .1s ease-out .25s;
    }


    #menuPill>.nav-item:nth-last-child(1)>.nav-link .active .icon-container,
    #menuPill>.nav-item:nth-last-child(1)>.nav-link:hover .icon-container{
        border-radius: 0 0 0 50%;
        transition: border-radius 0s ease-out 0s;
    }
    
    #menuPill .nav-link.active,
    #menuPill .nav-link:hover {
        max-width: 300px;
    }

    #menuPill .menu-label{
        background-color: rgba(0, 0, 0, 0.7);
        padding: .5rem 0;
        border-radius: 0 2rem 2rem 0;
        /* animate the label into view when hovered over or active */
        transition: max-width 0.25s ease-in-out, 
                    padding-right .25s ease-in-out;
    }

    #menuPill .nav-link.active .menu-label,
    #menuPill .nav-link:hover .menu-label {
        max-width: 100%;
        color: var(--jm-theme-200);
        padding-right: 1rem;
    }

    
    
}

/* #region Footer */
footer.fixed-bottom {
    background-color: var(--jm-theme-900);
    z-index: 2;
}

footer .card {
    background-color: var(--jm-theme-800);
}

footer i.bi {
    font-size: 2rem;
    transition: color 0.25s;

}

footer i.bi:hover {
    color: var(--jm-theme-core);
}

/* #endregion Footer */



/* Branding Styles */
#name_logo {
    height: 35px;
}

#nav_logo{
    height: 25px;
    width: 45px;
}


/* #region Media Queries */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .mainTitle {
        font-size: 7rem;
        line-height: 5.5rem;
    }
    
    .subTitle {       
        font-size: 1.7rem;
        line-height: 1.2rem;
        letter-spacing: .18rem;
        
    }
    
    .mainLogo {
        height: .5em;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}
/* #endregion Media Queries */