:root {
    /* CSS Variables */
    /* fonts */
    --jm-title-font: 'Bebas Neue', sans-serif;
    --jm-subtitle-font: 'Fira Sans', sans-serif;
    --jm-heading-font: 'Bebas Neue', sans-serif;
    --jm-body-font: 'Roboto', sans-serif;

    /* colors */
    --jm-dark-color: #212121;
    --jm-light-color: #deeefb;
    --jm-background-color: rgba(250,250,250,0.8);  

    /* text-styles */
    --jm-title-color: var(--jm-dark-color);
    --jm-font-size: 1.2rem;
    --jm-font-weight: 400;
    --jm-line-height: 1.5rem;
}

/* Element Styles */
body{
    font-family: var(--jm-body-font);
    font-size: var(--jm-font-size);
    font-weight: var(--jm-font-weight);
    line-height: var(--jm-line-height);
    color: var(--jm-dark-color);
    background-color: var(--jm-background-color);
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--jm-heading-font);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1rem;
    color: var(--jm-title-color);
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* when flex-direction is a column, then justify-content & align-items flip */
    justify-content: center; 
}

a {
    color : var(--jm-theme-500);
}

a:hover {
    color: var(--jm-theme-400);
}

.btn-primary {
    --bs-btn-bg: var(--jm-theme-600);
    --bs-btn-border-color: var(--jm-theme-600);
    --bs-btn-hover-bg: var(--jm-theme-700);
    --bs-btn-hover-border-color: var(--jm-theme-700);
    --bs-btn-active-bg: var(--jm-theme-800);
    --bs-btn-active-border-color: var(--jm-theme-800);
}

/* #region Home Section */
#home {
    background-image: url(/img/jm-branding/pexels-suzy-hazelwood-1629236.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    color: var(--jm-light-color);
    position: relative;
}

#homeCover {
    position: absolute;
    -webkit-backdrop-filter: brightness(0.35) blur(5px);
    backdrop-filter: brightness(0.35) blur(5px);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainTitle {
    font-family: var(--jm-title-font);
    font-size: 5rem;
    line-height: 4rem;
}

.subTitle {
    font-family: var(--jm-subtitle-font);
    font-size: 1.28rem;
    line-height: 1.1rem;
    font-weight: 300;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.mainLogo {
    height: .5em;
    width: 1em;
    padding-left: .03em;
}
/* #endregion Home Section */

/* #region Section styles */
.section-page:nth-child(odd){
    background-color: var(--jm-theme-150);
}
.section-page:nth-child(even){
    background-color: var(--jm-theme-100);
}

.section-page{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* #endregion Section Styles */

/* #region Footer */

    
    

footer.fixed-bottom {
    background-color: var(--jm-cyan-800);
    z-index: 2;
}

footer .card {
    background-color: var(--jm-teal-800);
}

footer i.bi {
    font-size: 2rem;
    transition: color 0.25s;

}

footer i.bi:hover {
    color: var(--jm-theme-core);
}

/* #endregion Footer */

/* #region Branding Styles */
/* Personal styling elements for the portfolio */

#name_logo {
    height: 35px;
}

#nav_logo{
    height: 25px;
    width: 45px;
}

/* #endregion Branding Styles */

/* #region Media Queries */

/* Must be at the end of the stylesheet at all times */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .mainTitle {
        font-size: 7rem;
        line-height: 5.5rem;
    }
    
    .subTitle {       
        font-size: 1.7rem;
        line-height: 1.2rem;
        letter-spacing: .18rem;
        
    }
    
    .mainLogo {
        height: .5em;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}
/* #endregion Media Queries */